html,
body {
	height: 100%;
}

/* CONTAINER */

#container {
	width: 100%;
	height: 100%;
	background-color: yellow;
	display: flex;
	flex-direction: column;
}

/* HEADER */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 40px;
	background-color: violet;
}

#search-bar {
	background-color: white;
	border-radius: 10px;
	flex-basis: 300px;
}

/* MAIN */

#main {
	display: flex;
	height: 100%;
}

/* SECTION - Sidebar */

#sidebar {
	background-color: brown;
	flex-basis: 200px;
}

/* SECTION - Content */

#content {
	background-color: aqua;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: center; */
	align-content: center;
}

.box {
	height: 50px;
	width: 50px;
	margin: 5px;
	background-color: chartreuse;
}
/* FOOTER */
